<!DOCTYPE html>
<html xmlns:th = "https://thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Metro - Sign up</title>
	</head>

	<body>
		<form action = "/signUp" method = "POST">
			<h1>Sign up</h1>
			<p th:text = "${message}"></p>
			
		    <input type = "email" placeholder = "email" name = "email" required>
			<input type = "text" placeholder = "name" name = "name" required>
			<input type="number" placeholder="9876-543-210" name="contact" required>
			
			 <button type="submit">Sign up</button>
		</form>
		<a href = "/signIn">Sign in</a>
	</body>
</html>